/* Pagina dulce*/
.titulo{
    text-align: center;
    background-color:#B2D6F9;
    opacity: 00.7;
    display: flex;
    justify-content: space-around;
}
.imagen{
   margin: 5%;
   width: 400px;
   height: 400px;
 }
 /* Fin Pagina dulce*/