@import "../base/variables";



/* MOBILE */
@media screen and (max-width: 468px) and (min-width: 350px){
    .body {
        .body {
            background-color: solid darken ($negro-principal);
            background-image: url(../image/fondo.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    }
    .nosotros {
        .body {
            background-color: solid darken ($negro-principal);
            background-image: url(../image/fondo.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
        }
     
    }
    
    .p{
        font-size: 60%;
    }   
    
}
/* MOBILE */
@media screen and (max-width: 730px) and (min-width: 490px){
    .body {
        .body {
            background-color: solid darken ($negro-principal);
            background-image: url(../image/fondo.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    }
    .nosotros {
        .body {
            background-color: solid darken ($negro-principal);
            background-image: url(../image/fondo.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        
    }
  
    .p{
        font-size: 50%;
    }   
}



@media screen and (max-width: 725px) and (min-width: 490px){
.p{
    font-size: 80%;
}
.redes1 {
     .redes {
        width: 70%;
    height: 70%;
     }
     .tamaño {
        width: 50%;
     } 
}
}
@media screen and (max-width: 674px) and (min-width: 566px){
    .p{
        font-size: 75%;
    }
    }
    @media screen and (max-width: 565px) and (min-width: 500px){
        .p{
            font-size: 70%;
        }
        }
/* TABLET */
@media screen and (min-width: 469px) and (max-width: 968px) {
    .body {
        .body {
            background-color:solid darken ($negro-principal);
            background-image: url(../image/fondo.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    }

    .nosotros {
        .body {
            background-color: solid darken ($negro-principal);
            background-image: url(../image/fondo.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

    .p{
        font-size: 50%;
    }
}
}

/* DESKTOP */
@media screen and (min-width: 969px) {
    .body {
        background-color: black;
        background-image: url(../image/fondo.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}
/* DESKTOP */
@media screen and (min-width: 729px) and (max-width:1440px){
    .body {
        background-color: black;
        background-image: url(../image/fondo.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .p{
        font-size: 95%;
    }
}

@media screen and (max-width: 936px) and (min-width: 730px)
 {
    .p{
        font-size: 80%;
    }
}
@media screen and (max-width: 388px) and (min-width: 220px)
 {
    .p{
        font-size: 50%;
    }
}