/* Pagina Salado */
@import "../base/variables";


#salado{
    background-color: $bg-general;
    background-image: url(../image/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.imagen1 {
    margin: 5%;
   width: 50%;
   height: 50%;
}
.base{
    background-color: rgba(107, 187, 252, 0.747);
    border-radius: 8px 8px 8px 8px;
}
.color-p{
    border-radius: 8px 8px 8px 8px;
    font-size: 35px;
    background-color: rgba(107, 186, 252, 0.747);
}
.h1,
h3 {
    background-color: rgba(107, 186, 252, 0.747);
    
    text-decoration: underline;
    font-family: cursive;
    border-radius: 10px 10px 10px 10px;
}
.width {
    width: 60%;
    height: 50%;
}

.recetas-saladas {
    text-align: center;
    text-decoration: underline;
    margin: 10%;
}

.hr {
    margin: 150px;
}
.underline {
    text-decoration: underline;
    font-size: 40px;
    background-color: rgba(107, 186, 252, 0.747);
}
.underline1 {
    text-decoration: underline;
    font-size: 40px;
}

.parrafo {
    font-size: 25px;
    background-color: rgba(107, 186, 252, 0.747);
}
.parrafo1 {
    font-size: 25px;
}
.listas {
    font-size: 25px;
    background-color: rgba(107, 186, 252, 0.747);
    
}

.listas1 {
    font-size: 25px;
}

/* Fin Pagina Salado */